{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Reset your password and enjoy the variety of stunning and comfy cushions.
{% endblock %}
{% block title %}
	Reset Password - Perfect Cushion Store
{% endblock %}
{% block content %}
	<div class="container">
		<br>
		<h1 class="my_title text-center">Reset password</h1>
		<br>
		<div class="row">
			<div class="bg-light mx-auto col-9">
				<div>
					<br>
					<p class="text-center">If you have forgotten your password, please type your email address so we can send you a reset link.</p>
					<form method="post">
						{% csrf_token %}
						<p>{{ form | crispy }}</p>
						<button type="submit" class="btn btn-secondary mb-3 float-right">Reset Password</button>
					</form>
					<br>
				</div>
				
			</div>
		</div>
		<br>
	</div>
	<br>
{% endblock %}