{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Reset your password and enjoy the variety of stunning and comfy cushions.
{% endblock %}
{% block title %}
	Reset Password - Perfect Cushion Store
{% endblock %}
{% block content %}
	<div class="container">
		<br>
		<h1 class="my_title text-center">Password reset sent</h1>
		<br>
		<div class="row">
				<div class="mx-auto">
					<br>
					<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

					<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
					<br>
				</div>
		</div>
		<br>
	</div>
	<br>
{% endblock %}