{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Reset your password and enjoy the variety of stunning and comfy cushions.
{% endblock %}
{% block title %}
	Reset Password Confirm - Perfect Cushion Store
{% endblock %}
{% block content %}
	<div class="container">
		<br>
		<h1 class="my_title text-center">Enter new password</h1>
		<br>
		<div class="row">
			<div class="bg-light mx-auto col-9">
				<div>
					<br>
					<p class="text-center">Please enter your new password twice so we can verify you typed it in correctly.</p>
					<form method="post">
						{% csrf_token %}
						<p>{{ form | crispy }}</p>
						<button type="submit" class="btn btn-secondary mb-3 float-right">Change Password</button>
					</form>
					<br>
				</div>
				
			</div>
		</div>
		<br>
	</div>
	<br>
{% endblock %}